*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --font-family-1: "Asap", serif;
    --font-family-2: "Inconsolata", serif;
    --font-family-3: "Maven Pro", serif;
    --title-lg: 800 56px/120% var(--font-family-1);
    --title-md: 800 24px/120% var(--font-family-1);
    --title-sm: 800 16px/120% var(--font-family-1);
    --subtitle: 400 20px/120% var(--font-family-2);
    --text-md: 400 16px/140% var(--font-family-3);
    --text-sm: 400 14px/140% var(--font-family-3);

    --red:#E3646E;
    --purple:#BB72E9;
    --blue:#3996DB;
    --green:#82BC4F;
    --yellow:#EABD5F;
    --gray-100:#0D0E11;
    --gray-200:#16181D;
    --gray-300:#292C34;
    --gray-400:#878EA1;
    --gray-500:#C0C4CE;
    --gray-600:#E2E4E9;
}


body {
    font: var(--text-sm);
    color: var(--gray-500);
    background-color: var(--gray-200);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3{
    font: inherit;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

h1{
    font: var(--title-lg);
}

h2{
    font: var(--subtitle);
}

h3{
    font: var(--title-md);
}

h4{
    font: var(--title-sm);
}

h5{
    font: var(--text-md);
}