header {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/Background_Intro.png'); 
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
    padding-block: 60px;
    align-content: center;
    position: relative;
    /* margin-top: 60px; */

    .header-dev{
        display: flex;
        align-items: center;
        flex-direction: column;

        h1{
            padding-block: 10px;
        }

        h2 span {
            color: var(--red);
        }

        p{
            text-align: justify;
            margin-bottom: 80px;
            max-width: 650px;
        }

        .foto-dev{
            position: relative;
        }
     
        .perfil-dev{
            display: block;
            width: 100px;
            height: 100px;
            padding: 5px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 56px;
            border: 3px solid var(--red);
        }
        
        .perfil-code{
            position: absolute;
            /* top: 60px;
            left: 72px; */
            bottom: 5px;
            right: -5px;
        }
        
        .nav-stacks ul{
            list-style-type: none;
            display: flex;
            column-gap: 1em;
            font: var(--text-md);
        }

        .nav-stacks li{
            padding: 5px 16px;
            display: flex;
            align-items: center;
            background-color: var(--gray-300);
            border-radius: 100px;

            img{
                margin-right: 8px;
                width: 24px;
            }

            span{
                display:inline-block;
            }
        }

        #down {
            margin-top: 80px;
            position: absolute;
            bottom: 50px;

            i {
                font-size: 23px;
            }

            i:hover {
                color: var(--blue);
            }
        }



        
    }

    
}


