main{  
    h2 span{
        color: var(--red);
    }

    h3{
        margin-block: 5px;
    }
}

#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
    
    #works{
        margin-block: 56px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        width: 80%;
        

        .card{
            border-radius: 12px;
            background-color: var(--gray-300);
            padding: 12px;
            border: 1px solid transparent;
            img{
                border-radius: 8px;
                margin-bottom: 18px;
                width: 100vw;
            }
            p {
                margin-top: 10px;
            }
        }

        .card:hover{
            border-color:var(--gray-400);
        }
    }
}

#service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 120px;
    background-color: var(--gray-100);
    text-align: center;


    #services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* align-items: flex-start; */
        gap: 24px;
        margin-top: 56px;
        width: 80%;
        max-width: 1050px;

        .card{
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: start;
            border: 3px solid var(--gray-200);
            padding: 20px;
            border-radius: 12px;

            p{
                margin-top: 10px;
            }

            i{
                font-size: 44px;
                padding-bottom: 20px;
            } 
        }


        .card:nth-child(1){
            i{
                color: var(--purple) ;
            }            
        }
        .card:nth-child(2){
            i{
                color: var(--yellow) ;
            }            
        }

        .card:nth-child(3){
            i{
                color: var(--green) ;
            }            
        }
    }
}


#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 128px;
    padding-bottom: 200px; */
    padding-block: 50px;
    background-image: url(../assets/images/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2 span{
        color: var(--purple);
    }

    #contacts {
        margin-top: 48px;
        height: 300px;
        .card{
            background-color: var(--gray-300) ;
            padding: 20px;            
            border: 1px solid transparent;
            border-radius: 8px ;
            margin-bottom: 16px;
            /* min-width: 100px;
            max-width: 350px; */
            width: 350px;
            display: flex;
            /* display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: 
            "icone tipo tipo tipo tipo tipo tipo tipo tipo tipo tipo tipo seletor";  */

            i{
                font-size: 23px;
                color: var(--gray-400);
            }
            
            i:nth-child(1){
                /* grid-area: icone; */
                padding-right: 10px;
            }

            /* h5:nth-child(2){
                grid-area: tipo;
            } */

            i:nth-child(3){
                /* grid-area: seletor; */
                margin-left: auto;
                color: var(--blue);
            }
        }

        .card:hover{
            color: var(--blue); 
            border-color: var(--blue); 
            
            i:nth-child(1){
                color: var(--blue);
                transform: scale(1.1);
                transition: transform 0.1s;
            }

        }
        
    }

}